---
layout: default
title: 🌐🌐 home
---
<div id="release-list">
    <table class="release-table">
        <tbody>
            <tr class="release-header">
                <td class="release-header-emoji outer left">🌝</td>
                <td class="release-header-text-short inner">artist</td>
                <td class="release-header-text-mid inner">title</td>
                <td class="release-header-text-long inner">summary</td>
                <td class="release-header-date inner">date</td>
                <td class="release-header-url inner">cat</td>
                <td class="release-header-emoji outer right">🔑</td>
            </tr>
            {% for release in site.data.releases %}
            {% assign moon = forloop.index | modulo: 8 %}
            <tr class="release-row">
                <td class="release-row-emoji">
                    <a class="release-row-link" href="{{ release.url_main }}" _target="blank">
                        {{site.data.moon_emoji[moon] }}
                    </a>
                </td>
                <td class="release-row-text-short">
                        {% for artist in release.artists %}
                        {{ artist }}
                        <br />
                        {% endfor %}
                </td>
                <td class="release-row-text-mid">
                    <a href="{{ release.url_main }}" _target="blank">{{ release.title }}</a>
                </td>
                <td class="release-row-text-long">
                    <a href="{{ release.url_main }}" _target="blank">{{ release.summary }}</a>
                </td>
                <td class="release-row-date">
                    {{ release.release_date }}
                </td>
                <td class="release-row-url">
                    <a href="{{ release.url_main }}" target="_blank"> {{ release.cat_no }} </a>
                </td>
                <td class="release-row-emoji">
                    {{ site.data.tag_emoji[release.tag] }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
