---
layout: default
title: 🌐🌐 studio
permalink: /studio/
---

<div class="studio-content">

    <div class="studio-container">

        <br />
        <p>globally limited is a small, project-based art and recording studio in Glendale, Queens.</p>
        <br />
        <p>We offer a variety of <a href="#services">services</a> including in-person (solo or supervised) sessions and
            remote mixing, mastering, and mentorship.</p>
        </p>
        <br />
        <img class="studio-image" src="/assets/images/studio-a.jpg">
        <br />
        <p>The studio is <a href="#gear">well-equipped</a> for a variety of applications, including multi-track
            recording, midi-driven experimentation, and one-on-one
            production, mixing, mastering, or songwriting sessions.
        </p>
        <br />
        <div><img class="studio-image" src="/assets/images/studio-b.jpg"></div>
        <br />
        <h2 id="services" class="h2"> services </h2>
        <br />
        <p> You might be interested in working with us if you:</p>
        <ul>
            <li>
                Want to track drums, instruments, vocals, synths, drmus, and/or effects into your own computer through
                <a href="#gear">our high-end preamps
                    and audio converters.</a>
            </li>
            <li>
                Want to record a <a href="#gear">live, multi-track</a> demo of your band or ensemble.
            </li>
            <li>
                Want help with <a href="#booking">songwriting, production, mixing, or mastering</a>.
            </li>
            <li>
                Want to get better using <a href="#software">Ableton live, plugins, or other software.</a>
            </li>
            <li>
                Want to learn how to dj with vinyl or CDJs or just want to record a mix.</a>
            </li>
            <li>
                Want to make <a href="#software">custom software</a> for generating music or cleaning and categorizing
                your music library.
            </li>
            <li>
                Want a delicious stew 🔮
            </li>
        </ul>
        <br />
        <br />
        <div> <img class="studio-image" src="/assets/images/studio-drumkit.jpg"></div>
        <br />
        <br />

        <h2 id="gear" class="h2"> gear </h2>

        Our studio is designed to be a flexible, modular space for making music. Everything is routed through <a href="#patchbay"> a 192-point patchbay</a> which is designed to work without plugging anything in, but can be endlessly reconfigured to your needs.
        <br />
        <br />
        By selecting pieces which excel at one particular function, we aim to provide a space that can be
        used for a wide range of applications without hours of rewiring. You should only have to plug in two USB-C cables and download a couple of drivers to get setup.
        <br />

        <div id="release-list">
            <table class="release-table">
                <hr />
                <tbody>
                    <tr class="release-header">
                        <td class="release-header-emoji outer left">🌝</td>
                        <td class="release-header-text-short inner">brand</td>
                        <td class="release-header-text-mid inner">model</td>
                        <td class="release-header-text-long inner">description</td>
                        <td class="release-header-url outer right">🔑</td>
                    </tr>
                    {% for item in site.data.studio.gear_list %}
                    {% assign moon = forloop.index | modulo: 8 %}
                    <tr class="release-row">
                        <td class="release-row-emoji">
                            <a class="release-row-link" href="{{ item.url }}" _target="blank">
                                {{site.data.moon_emoji[moon] }}
                            </a>
                        </td>
                        <td class="release-row-text-short">
                            {{ item.brand }}
                        </td>
                        <td class="release-row-text-mid">
                            <a href="{{ item.url }}" _target="blank">{{ item.model }}</a>
                        </td>
                        <td class="release-row-text-long">
                            <a href="{{ item.url }}" _target="blank">{{ item.description }}</a>
                        </td>
                        <td class="release-row-url">
                            <a href="{{ item.url }}" target="_blank"> {{ item.category }} </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br />
        <h2 id="patchbay" class="h2"> patchbay / midi routing </h2>
        <br />
        You can explore the current state of our patchbay / midi-routing below:
        <br />
        <br />
        <iframe width="100%" height="500px"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRHcaLi2g8pHanQJI3YQXT4LkooWac1-DYixEVSYbTSg5cIsWfBwNZGg0R1-78RWInRgiLpCMSkxJfG/pubhtml?widget=true&amp;headers=false"></iframe>
        <br />
        <br />

        <h2 id="software" class="h2"> software </h2>
        <br />
        <br />
        We use Ableton for most of our work, but are also comfortable with Logic and love learning new DAWs.
        <br />
        <br />
        As programmers, we can also build custom tools to make art and music, like <a
            href="https://gitlab.com/gltd/midi-utils/">generative midi in python</a>, euclidean rhythms with <a
            href="https://sonic-pi.net/">sonic-pi</a>, <a href="https://fifteen.pm/">3D worlds in javascript</a> or
        spooky computer choruses with our open-source instrument <a
            href="https://saysynth.org/saysynth.html">saysynth</a>. We've also started playing around a bit with Max for
        Live and are eager to experiment more with building our own instruments and effects for reuse.
        <br />
        <br />
        We tend to hoard plugins, so we probably have the one you need, including gems fom Waves, Soundtoys, Valhalla,
        Tal, iZotope, UAD and others. If there's something in particular you're looking for, let us know and we'll see
        if we can find it for cheap 😈
        <br />
        <br />
        <h2 id="amenities" class="h2"> amenities </h2>
        <br />
        <br />
        The space is quiet and cozy, tucked underground with natural light filtering in through glass bricks.
        There's a large couch and plush carpet to stretch out on (sorry about the floofy lint in advance!), two expansive desks, a
        private bathroom with a shower. And if you're lucky, you might get a visit from the studio pets Ashley 🐕 and Lola 🐾
        <br />
        <br />
        <div>
            <br />
            <br />
            <img class="studio-image" src="/assets/images/studio-couch.jpg">
            <br />
            <br />
        </div>
        <h2 id="booking" class="h2"> reserve a session</h2>
        <br />
        We're usually open for 1/2 or full-day sessions on weekends, and can be flexible during weekday evenings. We're
        also available for custom work and collaborations.
        <br />
        <br />
        If you have a project in mind, check out our calendar below to book a session, or email us at hey [at] gltd
        [dot] email.
        <br />
        <p>Rates are give-what-you-can, with a suggested range of $15-30/hr. We're also open to bartering and knowledge-shares.</p>
        <br />
        <br />
        <!-- Calendly inline widget begin -->
        <div class="calendly-inline-widget" data-url="https://calendly.com/gltd?primary_color=e07a0b"
            style="min-width:320px;height:1080px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
        <!-- Calendly inline widget end -->
        <br />
    </div>
</div>