/* @font-face {
    font-family: 'ShareTechMono';
    src: url('/assets/fonts/ShareTechMono-Regular.woff') format('woff'), url('/assets/fonts/ShareTechMono-Regular.ttf') format('truetype');
} */

html {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 100;
    background-color: #f5f5f5;
    line-height: 1.25em;
}

body {
    width: 100%;
    height: 100%;
}

#homepage-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
    filter: opacity(25%);
}

#contract-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
    filter: opacity(25%);
}

#logo-home {
    margin-top: -1.5em;
    margin-bottom: -3em;
    width: 250px;
}

#logo-contract {
    margin-top: -1.5em;
    margin-bottom: -3em;
    width: 250px;
}

.content {
    min-height: calc(100vh - 150px);
    margin-left: 1em;
    margin-right: 1em;
    font-size: 17px;
    color: #404040;
}

.footer {
    padding-top: 3em;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-bottom: 0.5em;
}

a {
    color: black;
}

.footer a {
    text-decoration: none;
}

a.footer-link:visited {
    color: black;
}

a.footer-link:visited {
    color: black;
}

a.footer-link:hover {
    color: #E07A0B;
}

.release-table {
    margin-top: 2em;
    width: 97.5%;
}

.release-header td.inner {
    text-decoration: underline;
    font-style: bold;
}

.release-header td {
    padding-bottom: 1em;
}

.release-header-text-short {
    text-align: left;
}

.release-row td a {
    text-decoration: none;
}

.release-row td a:hover {
    color: #E07A0B;
}

.release-row-text-short {
    text-align: left;
    max-width: 40px;
}

.release-header-text-mid {
    text-align: left;
}

.release-row-text-mid {
    text-align: left;
    max-width: 100px;
}

.release-header-text-long {
    text-align: left;
}

.release-row-text-long {
    text-align: left;
    max-width: 250px;
}

.release-header-emoji {
    text-align: center;
}

.release-row-emoji {
    text-align: center;
}

.release-row-emoji a {
    text-decoration: none;
}

.release-header-date {
    text-align: right;
}

.release-row-date {
    text-align: right;
}

.release-header-url {
    text-align: right;
}

.release-row-url {
    text-align: right;
}

.release-row-url a {
    text-decoration: none;
}

.release-table-figure {
    max-width: 100%;
    overflow-x: scroll;
}

.release-header>td {
    padding-right: 1em;
}

.release-row>td {
    padding-top: 1em;
    padding-right: 1em;
}


/* RESPONSIVE  */

@media only screen and (max-width: 800px) {
    #logo {
        width: 200px;
    }

    .content .studio-content {
        font-size: 18px;
    }
}

@media only screen and (max-width: 600px) {
    .release-header-text-long {
        display: none;
    }

    .release-row-text-long {
        display: none;
    }

    .content .studio-content {
        font-size: 15px;
    }

    #logo {
        width: 175px;
    }
}

@media only screen and (max-width: 450px) {
    .content .studio-content {
        font-size: 13px;
    }

    .footer-bio {
        font-size: 10px;
    }

    #logo {
        width: 150px;
    }

    .footer-contacts>a {
        font-size: 12px;
    }
}


.h2 {
    font-size: 24px;
    font-style: bold;
    text-decoration: underline;
    text-align: center;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 1em;
}

.studio-image {
    width: 90%;
    border: 3px double;
    margin-top: 1em;
    margin-bottom: 1em;
}

.studio-content {
    display: flex;
    text-align: left;
    font-size: 18px;
    width: 100%;
    justify-content: center;
}

.studio-container {
    max-width: 900px;
    margin-right: 1em;
    margin-left: 1em;
    line-height: 1.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1.25em;
    list-style: circle
}

.calendly-link {
    background-color: #E07A0B;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}