<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="google-site-verification" content="98-bVaLfrKjTyQEdA4Kf0O9pm_95LxAwC0mF90mwcGA" />
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>{{ page.title }}</title>
</head>

<body>
    <div class="content">
        <div id="homepage">
            <video id="homepage-video" autoplay muted loop id="homepage-background-video">
                <source src="/assets/videos/homepage.mp4" type="video/mp4">
            </video>
            <div id="logo-wrapper">
                <a href="/" target="_blank">
                    <img id="logo-home" src="/assets/images/logo500.png" />
                </a>
            </div>
            <div class="footer-links">
                <a class="footer-link" title="Studio" alt="Globally Limited Bandcamp" href="/studio">studio</a> |
                <a class="footer-link" title="Bandcamp" alt="Globally Limited Bandcamp" href="https://gltd.bandcamp.com/" target="_blank">sounds</a>
                <!-- <a class="footer-link" title="About" alt="About Globally Limited" href="/about">about</a> -->
                <br/>
            </div>
        {{ content }}
        </div>

    </div>
    <footer class="footer">
            <p>
                🕳️ 🕳️ 🕳️
            </p>
            <br/>
            <form method="post" action="https://lists.globally.ltd/subscription/form" class="listmonk-form">
                <div>
                    <p>
                        <input type="hidden" name="nonce" />
                        <input type="email" name="email" required placeholder="E-mail" />
                        <br/>
                        <input type="text" name="name" placeholder="Name (optional)" />
                    </p>
                    <p>
                        <input id="da440" name="l" checked value="da4404e2-91ed-4722-8da3-8146ffedd8f3" type="hidden"/>
                    </p>
                    <br/>
                    <p><input type="submit" value="subscribe to email updates" /></p>
                </div>
            </form>
            <br/>
            <div class="footer-bio">
                <p>run by <a href="https://brian.abelson.live" target="_blank">brian abelson</a></p>
                <u><p>black trans lives matter ++ reparations</p></u>
            </div>
            <br />
    </footer>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M5L1XESVK4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-182500868-4');
    </script>
</body>

</html>